<div class="bm-openapi-shell">
	<div id="swagger-ui"></div>
</div>
<link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@5/swagger-ui.css" />
<script src="https://unpkg.com/swagger-ui-dist@5/swagger-ui-bundle.js"></script>
<script>
window.addEventListener("load", function () {
	const docsRootPath = window.location.pathname
		.replace(/\/index\.html$/, "/")
		.replace(/\/api\/?$/, "/");

	SwaggerUIBundle({
		url: new URL(`${docsRootPath}openapi.yaml`, window.location.origin).toString(),
		dom_id: "#swagger-ui",
		deepLinking: true,
		displayRequestDuration: true,
		presets: [SwaggerUIBundle.presets.apis],
		layout: "BaseLayout"
	});
});
</script>
